@import 'tailwindcss';

* {
  font-family: Roboto;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;

  font-variation-settings: 'wdth' 100;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
